# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
venv/
.venv/
env/

# Archivos sensibles
.env

# Archivos de logs y bases temporales
*.sqlite3

# IDEs
.vscode/
.idea/

.auth_data/
*.db

auth-service/auth_data/auth.db
