# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
venv/
.venv/
env/

# Archivos sensibles
.env

# Archivos de logs y bases temporales
*.log
*.sqlite3

# IDEs
.vscode/
.idea/

.auth_data/
*.db

*.pem