
#ejemplo de .env para levantar todos los docker

# Base de datos POSTGRES
POSTGRES_HOST=persona-db            #Nombre que tiene en docker-compose.yml
POSTGRES_PORT=5432                  #puerto interno del contenedor de postgres
POSTGRES_USER=persona_user          #nombre del usuario que se crea
POSTGRES_PASSWORD=persona_pass      #password definido en docker-compose.yml
POSTGRES_DB=persona_db              #nombre de la base de dato

# Clave JWT para desarrollo
JWT_SECRET_KEY=supersecreto_development_key

#Restincion para modificacion de datos personales:
RESTRICCION_MODIFICACION_DIAS=30    

#Para enviar email al admin
ADMIN_EMAIL=admin@admin.com
