TIPOS_DOCUMENTO_VALIDOS=DNI,LE,LC,CI,Pasaporte,CUIT,CUIL
REDES_SOCIALES_VALIDAS=Facebook,Instagram,X,Threds,LinkedIn,TikTok,YouTube
ESTADO_CIVIL=Casado/a,Soltero/a,Viudo/a,Divorciado/a,Unión convivencial,Otros estados civiles
OCUPACION=Trabajo informal,Trabajo en relacion de dependencia,Trabajo independiente,Desocupado
ESTUDIOS_ALCANZADOS=Educación primaria,Educación secundaria,Educación superior